body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background {
  background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1573121432086&di=fa32a871df938c65b24eb6d7848a8ee7&imgtype=0&src=http%3A%2F%2Fimg8.zol.com.cn%2Fbbs%2Fupload%2F23690%2F23689996.JPG)
    top center no-repeat;
  background-attachment: fixed;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.block {
  padding: 20px;
}